.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dotnet/
.gitconfig
.local/
.profile
.ros/
.ssh/
.sudo_as_admin_successful
.viminfo
.vscode-server/
.wget-hsts
Desktop
Downloads
snap
.Xauthority
.fontconfig/
.xorgxrdp.10.log
.xsession-errors
log_data
ws_controller/log
ws_controller/build
ws_controller/install